.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.card-nota_cabecalho {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date{
  font-size: 13px;
  color: grey;
  margin-top: -5%
}
.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
  color: black;
}

.card-nota_titulo {
  font-size: 1.2em;
  margin-right: 12px;
  color: black;
}

.delete{
  margin-top: -17px;
  margin-left: auto;
  margin-right: -25px;
  font-size: 30pt;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f76f6f;
}

.delete:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  opacity:1;
}



@-webkit-keyframes anim{
  from {-webkit-transform: rotate(4deg)}
  to {-webkit-transform: rotate(-4deg)}
}
@keyframes anim{
  from {transform: rotate(4deg)}
  to {transform: rotate(-4deg)}
}

.categoria_tipo {
  font-size: 15px;
  text-decoration: underline;
  color: grey;
}